# Arquivos temporários do Visual Studio #
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.dll
*.exe
*.log
*.config
*.bak
*.compiled
*.com
*.manifest
*.csproj.user
*_i.c
*_p.c
*.ilk
*.cache
*.ncb
*.suo
*.sdf
*.opensdf
*.cachefile
*.VC.opendb
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.Publish.xml
*.pubxml
*.user
*.bak
*.pfx
*.vspscc
*.vssscc
[Tt]humbs.db
[Tt]est[Rr]esult*
_ReSharper*
*.resharper
[Tt]est[Rr]un*
*.VisualState.xml
*.xap
*.xaml.*
*.Build.csdef
